
.vs/AdventOfCode/v16/.suo
*.dll
*.pdb
AdventOfCode/bin/Debug/netcoreapp3.1/AdventOfCode.dll
AdventOfCode/bin/Debug/netcoreapp3.1/AdventOfCode.dll
AdventOfCode/bin/Debug/netcoreapp3.1/AdventOfCode.pdb
AdventOfCode/obj/AdventOfCode.csproj.nuget.dgspec.json
AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.assets.cache
AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.csproj.FileListAbsolute.txt
AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.csprojAssemblyReference.cache
AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.dll
AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.pdb
AdventOfCode/obj/project.assets.json
AdventOfCode/obj/project.nuget.cache
AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.assets.cache
